/* AddToCart.css */

.AddToCart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddToCart button {
  display: flex;
  align-items: center;
  background-color: #7790A6;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.AddToCart button:hover {
  background-color: #404759;
}

.AddToCart .cart-quantity {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

.AddToCart .fa-cart-plus {
  margin-left: 5px;
}

/* AddToCart.css */

@media (max-width: 600px) {
  .AddToCart button {
    padding: 8px;
    font-size: 14px;
  }

  .AddToCart .fa-cart-plus {
    font-size: 1.5rem;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .AddToCart button {
    padding: 10px;
    font-size: 16px;
  }

  .AddToCart .fa-cart-plus {
    font-size: 1.75rem;
  }
}

@media (min-width: 1201px) {
  .AddToCart button {
    padding: 12px;
    font-size: 18px;
  }

  .AddToCart .fa-cart-plus {
    font-size: 2rem;
  }
}
