.DeleteCategory {
    background-color: #7790A6;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .DeleteCategory:hover {
    background-color: #5C758D;
  }
  
  .DeleteIcon {
    font-size: 1.5em;
    line-height: 1;
  }
  